Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F0503121/0503121FormData1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ru.krista.consolidation.model.report">
	<xs:import schemaLocation="0503121FormData.xsd"/>
	<xs:element name="F_0503121of01022013S1Row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tableRow"/>
			</xs:sequence>
			<xs:attribute name="col6" type="xs:decimal" />
			<xs:attribute name="col5" type="xs:decimal" />
			<xs:attribute name="col3" type="xs:decimal" />
			<xs:attribute name="col2" type="xs:string" />
			<xs:attribute name="col1" use="required" type="xs:string" />
			<xs:attribute name="col0" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503121of01022013S1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reportFormSection"/>
				<xs:element ref="rows"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503121of01022013">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attachments"/>
				<xs:element ref="collectingPeriod"/>
				<xs:element ref="docState"/>
				<xs:element ref="reportConsumer"/>
				<xs:element ref="reportForm"/>
				<xs:element ref="reportSubject"/>
				<xs:element ref="reportSections"/>
			</xs:sequence>
			<xs:attribute name="uuid" use="required" type="xs:string" />
			<xs:attribute name="updateTime" use="required" type="xs:string" />
			<xs:attribute name="lastProtocol" use="required" type="xs:string" />
			<xs:attribute name="formUpdateTime" use="required" type="xs:string" />
			<xs:attribute name="endDate" use="required" type="xs:string" />
			<xs:attribute name="deliveryYear" use="required" type="xs:short" />
			<xs:attribute name="deliveryDate" use="required" type="xs:string" />
			<xs:attribute name="caption" use="required" type="xs:string" />
			<xs:attribute name="beginDate" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>
