Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F0503730V2016/F_0503730of201612011.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="ru.krista.consolidation.model.report" targetNamespace="ru.krista.consolidation.model.report">
	<xs:import schemaLocation="F_0503730of20161201.xsd"/>
	<xs:element name="F_0503730of20161201S2Row">
		<xs:complexType>
			<xs:attribute name="tableRowName" type="xs:string" use="required"/>
			<xs:attribute name="tableRowId" type="xs:string" use="required"/>
			<xs:attribute name="col6" type="xs:decimal"/>
			<xs:attribute name="col2" type="xs:string"/>
			<xs:attribute name="col16" type="xs:decimal"/>
			<xs:attribute name="col15" type="xs:decimal"/>
			<xs:attribute name="col14" type="xs:decimal"/>
			<xs:attribute name="col13" type="xs:decimal"/>
			<xs:attribute name="col12" type="xs:decimal"/>
			<xs:attribute name="col11" type="xs:decimal"/>
			<xs:attribute name="col10" type="xs:decimal"/>
			<xs:attribute name="col1" type="xs:string"/>
			<xs:attribute name="col0" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503730of20161201S2">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rows"/>
			</xs:sequence>
			<xs:attribute name="reportFormSectionId" type="xs:int" use="required"/>
			<xs:attribute name="checkData" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503730of20161201S1Row">
		<xs:complexType>
			<xs:attribute name="tableRowName" type="xs:string" use="required"/>
			<xs:attribute name="tableRowId" type="xs:string" use="required"/>
			<xs:attribute name="col6" type="xs:decimal"/>
			<xs:attribute name="col17" type="xs:decimal"/>
			<xs:attribute name="col16" type="xs:decimal"/>
			<xs:attribute name="col15" type="xs:decimal"/>
			<xs:attribute name="col14" type="xs:decimal"/>
			<xs:attribute name="col13" type="xs:decimal"/>
			<xs:attribute name="col12" type="xs:decimal"/>
			<xs:attribute name="col11" type="xs:decimal"/>
			<xs:attribute name="col1" type="xs:string"/>
			<xs:attribute name="col0" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503730of20161201S1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rows"/>
			</xs:sequence>
			<xs:attribute name="reportFormSectionId" type="xs:int" use="required"/>
			<xs:attribute name="checkData" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503730of20161201HR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req10"/>
				<xs:element ref="req12"/>
				<xs:element ref="req13"/>
			</xs:sequence>
			<xs:attribute name="req9" type="xs:string" use="required"/>
			<xs:attribute name="req8" type="xs:string" use="required"/>
			<xs:attribute name="req5" type="xs:string" use="required"/>
			<xs:attribute name="req3" type="xs:string" use="required"/>
			<xs:attribute name="req2" type="xs:string" use="required"/>
			<xs:attribute name="req15" type="xs:string" use="required"/>
			<xs:attribute name="req14" type="xs:string" use="required"/>
			<xs:attribute name="req11" type="xs:string" use="required"/>
			<xs:attribute name="req1" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503730of20161201FR">
		<xs:complexType>
			<xs:attribute name="req8" type="xs:string" use="required"/>
			<xs:attribute name="req7" type="xs:string" use="required"/>
			<xs:attribute name="req6" type="xs:string" use="required"/>
			<xs:attribute name="req5" type="xs:string" use="required"/>
			<xs:attribute name="req4" type="xs:string" use="required"/>
			<xs:attribute name="req3" type="xs:string" use="required"/>
			<xs:attribute name="req2" type="xs:string" use="required"/>
			<xs:attribute name="req11" type="xs:string" use="required"/>
			<xs:attribute name="req1" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503730of20161201">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="collectingPeriod"/>
				<xs:element ref="docState"/>
				<xs:element ref="reportConsumer"/>
				<xs:element ref="reportForm"/>
				<xs:element ref="reportSubject"/>
				<xs:element ref="reportSubjectOffice"/>
				<xs:element ref="responsibleConsumer"/>
				<xs:element ref="footerReqHolder"/>
				<xs:element ref="headerReqHolder"/>
				<xs:element ref="reportSections"/>
			</xs:sequence>
			<xs:attribute name="warningCount" type="xs:string" use="required"/>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="updateTime" type="xs:string" use="required"/>
			<xs:attribute name="stateUpdateTime" type="xs:string" use="required"/>
			<xs:attribute name="signStatus" type="xs:string" use="required"/>
			<xs:attribute name="signCount" type="xs:string" use="required"/>
			<xs:attribute name="signCheckDate" type="xs:string" use="required"/>
			<xs:attribute name="requiredSignCount" type="xs:string" use="required"/>
			<xs:attribute name="reportFormName" type="xs:string" use="required"/>
			<xs:attribute name="reportFormId" type="xs:string" use="required"/>
			<xs:attribute name="reportFormCode" type="xs:string" use="required"/>
			<xs:attribute name="reportFormClassName" type="xs:string" use="required"/>
			<xs:attribute name="isEmpty" type="xs:string" use="required"/>
			<xs:attribute name="freeSignCount" type="xs:string" use="required"/>
			<xs:attribute name="formUpdateTime" type="xs:string" use="required"/>
			<xs:attribute name="fillingSourceNote" type="xs:string" use="required"/>
			<xs:attribute name="fillingSource" type="xs:string" use="required"/>
			<xs:attribute name="evalDate" type="xs:string" use="required"/>
			<xs:attribute name="errorCount" type="xs:string" use="required"/>
			<xs:attribute name="endDate" type="xs:string" use="required"/>
			<xs:attribute name="deliveryYear" type="xs:string" use="required"/>
			<xs:attribute name="deliveryDate" type="xs:string" use="required"/>
			<xs:attribute name="checkDate" type="xs:string" use="required"/>
			<xs:attribute name="caption" type="xs:string" use="required"/>
			<xs:attribute name="beginDate" type="xs:string" use="required"/>
			<xs:attribute name="attachments" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
