Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F0503730V2016/F_0503730of201612014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="ru.krista.core.docstate.model.meta" targetNamespace="ru.krista.core.docstate.model.meta">
	<xs:import schemaLocation="F_0503730of20161201.xsd"/>
	<xs:element name="StatesScheme-key">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="State-key">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="scheme"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
