Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F0503721V3/F_0503721of20150101.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bud="ru.krista.budget.model" xmlns:cons="ru.krista.consolidation.model" xmlns:report="ru.krista.consolidation.model.report" xmlns:docstate="ru.krista.core.docstate.model.meta">
	<xs:import namespace="ru.krista.core.docstate.model.meta" schemaLocation="F_0503721of201501014.xsd"/>
	<xs:import namespace="ru.krista.consolidation.model.report" schemaLocation="F_0503721of201501013.xsd"/>
	<xs:import namespace="ru.krista.consolidation.model" schemaLocation="F_0503721of201501012.xsd"/>
	<xs:import namespace="ru.krista.budget.model" schemaLocation="F_0503721of201501011.xsd"/>
	<xs:element name="subjectRole">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportSubjectRole-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="servicePerson">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Office-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="scheme">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="docstate:StatesScheme-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rows">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="report:F_0503721of20150101S1Row" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="responsibleSubject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Employee-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="responsibleConsumer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Employee-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="req14">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsOKTMO-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="req13">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsOKEI-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="req10">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsGRBS-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportSubjectOffice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Office-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportSubject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportSubject-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportSections">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="report:F_0503721of20150101S1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportPeriodAbstract">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportPeriodPeriodic-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportLevel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportLevel-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportKind">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportKind-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportConsumer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportSubject-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="region">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Region-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="personage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Personage-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Office-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="patternOfOwnership">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsOKFS-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="oldChiefAccountant">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Employee-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="oktmo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsOKTMO-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="oksm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsOKSM-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="okato">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsOKATO-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="headerReqHolder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="report:F_0503721of20150101HR"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="grbs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsGRBS-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="gaif">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsGRBS-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="gadb">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsGRBS-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="footerReqHolder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="report:F_0503721of20150101FR"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="employees">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Employee" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="employeeKind">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:EmployeeKind-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="docState">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="docstate:State-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="collectingPeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportCollectingPeriod-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="budget">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Budget-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportSubject-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="atoKind">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:AtoKind-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ato">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ATO-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Objects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="report:F_0503721of20150101"/>
				<xs:element ref="cons:ReportSubject"/>
				<xs:element ref="bud:Office"/>
				<xs:element ref="bud:ATO"/>
				<xs:element ref="bud:Office"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
