Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F0503130V2/F_0503130of01012012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bud="ru.krista.budget.model" xmlns:cons="ru.krista.consolidation.model" xmlns:report="ru.krista.consolidation.model.report" xmlns:docstate="ru.krista.core.docstate.model.meta">
	<xs:import namespace="ru.krista.core.docstate.model.meta" schemaLocation="F_0503130of010120124.xsd"/>
	<xs:import namespace="ru.krista.consolidation.model.report" schemaLocation="F_0503130of010120121.xsd"/>
	<xs:import namespace="ru.krista.consolidation.model" schemaLocation="F_0503130of010120122.xsd"/>
	<xs:import namespace="ru.krista.budget.model" schemaLocation="F_0503130of010120123.xsd"/>
	<xs:element name="tableRow">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportTableRow-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subjectRole">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportSubjectRole-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="scheme">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="docstate:StatesScheme-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rows">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="report:F_0503130of01012012S1Row" maxOccurs="unbounded"/>
				<xs:element ref="report:F_0503130of01012012S2Row" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="responsibleSubject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Employee-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="responsibleConsumer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Employee-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="req9">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsOKEI-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="req7">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsOKATO-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="req6">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Budget-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportSubject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportSubject-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportSections">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="report:F_0503130of01012012S1"/>
				<xs:element ref="report:F_0503130of01012012S2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportPeriodAbstract">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportPeriodPeriodic-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportLevel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportLevel-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportKind">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportKind-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportFormSection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportFormSection-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportForm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportForm-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportConsumer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportSubject-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="personage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Personage-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Office-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="headerReqHolder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="report:F_0503130of01012012HR"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="footerReqHolder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="report:F_0503130of01012012FR"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="employeeKind">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:EmployeeKind-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="docState">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="docstate:State-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="collectingPeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportCollectingPeriod-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportSubject-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ato">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ATO-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Objects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="report:F_0503130of01012012"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
