Projects/Dashboards/Krista.FM.Server.Dashboards/Data/Sberbank/Dataset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Root (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="data-preprocessed">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bank-territories"/>
				<xs:element ref="investment-project-goals"/>
				<xs:element ref="sberbank-facilities"/>
				<xs:element ref="activity-evaluations"/>
				<xs:element ref="priorities"/>
				<xs:element ref="facility-evaluations"/>
			</xs:sequence>
			<xs:attribute name="source" type="xs:string" use="required"/>
			<xs:anyAttribute namespace="##any" processContents="skip"/>
		</xs:complexType>
		<xs:keyref name="ref-investment-project-goal" refer="key-investment-project-goal">
			<xs:selector xpath="priorities/priority"/>
			<xs:field xpath="@goal"/>
		</xs:keyref>
		<xs:keyref name="ref-sberbank-facility" refer="key-sberbank-facility">
			<xs:selector xpath="facility-evaluations/facility-evaluation"/>
			<xs:field xpath="@sberbank-facility"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="bank-territories">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bank-territory" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute ref="federal-subject" use="required"/>
						<xs:attribute ref="bank" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="excel-sheet" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="investment-project-goals">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="investment-project-goal" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute ref="order" use="required"/>
						<xs:attribute name="name" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="description" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="excel-sheet" use="required"/>
		</xs:complexType>
		<xs:key name="key-investment-project-goal">
			<xs:selector xpath="investment-project-goal"/>
			<xs:field xpath="@name"/>
		</xs:key>
	</xs:element>
	<xs:element name="sberbank-facilities">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sberbank-facility" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute ref="order" use="required"/>
						<xs:attribute name="name" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="excel-sheet" use="required"/>
		</xs:complexType>
		<xs:key name="key-sberbank-facility">
			<xs:selector xpath="sberbank-facility"/>
			<xs:field xpath="@name"/>
		</xs:key>
	</xs:element>
	<xs:element name="activity-evaluations">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="activity-evaluation" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="communicative-characteristics"/>
							<xs:element name="agreement-characteristic"/>
							<xs:element name="progress-strategy-characteristic"/>
							<xs:element name="deal-strategy-characteristic"/>
							<xs:element name="limit-policy-characteristic"/>
							<xs:element name="budgetary-policy-characteristic"/>
							<xs:element name="federal-banks-activity-characteristic"/>
							<xs:element name="regional-banks-activity-characteristic"/>
						</xs:sequence>
						<xs:attribute name="regional-banks-activity-evaluation" type="evaluation" use="required"/>
						<xs:attribute name="progress-strategy" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="В разработке, не утверждена"/>
									<xs:enumeration value="Не существует"/>
									<xs:enumeration value="Утверждена"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="limit-policy" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Не требуется увеличение лимита на субъект"/>
									<xs:enumeration value="Требуется увеличение лимита на субъект"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute ref="federal-subject" use="required"/>
						<xs:attribute name="federal-banks-activity-evaluation" type="evaluation" use="required"/>
						<xs:attribute name="deal-strategy" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Не существует"/>
									<xs:enumeration value="Существует, не утверждена"/>
									<xs:enumeration value="Утверждена"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="communicative-evaluation" type="evaluation" use="required"/>
						<xs:attribute name="budgetary-policy" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Бюджет  дефицитен"/>
									<xs:enumeration value="Бюджет  профицитен"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="agreement" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Заключено"/>
									<xs:enumeration value="Не заключено"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="excel-sheet" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="priorities">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="priority" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="description"/>
						</xs:sequence>
						<xs:attribute name="goal" type="xs:string" use="required"/>
						<xs:attribute ref="federal-subject" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="excel-sheet" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="facility-evaluations">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="facility-evaluation" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="description"/>
						</xs:sequence>
						<xs:attribute name="sberbank-facility" type="xs:string" use="required"/>
						<xs:attribute ref="federal-subject" use="required"/>
						<xs:attribute name="evaluation" type="evaluation" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="excel-sheet" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="federal-subject">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Алтайский край"/>
				<xs:enumeration value="Амурская область"/>
				<xs:enumeration value="Архангельская область"/>
				<xs:enumeration value="Астраханская область "/>
				<xs:enumeration value="Астраханская область"/>
				<xs:enumeration value="Белгородская область"/>
				<xs:enumeration value="Брянская область"/>
				<xs:enumeration value="Владимирская область"/>
				<xs:enumeration value="Волгоградская область"/>
				<xs:enumeration value="Вологодская область"/>
				<xs:enumeration value="Воронежская область"/>
				<xs:enumeration value="Еврейская автономная область"/>
				<xs:enumeration value="Забайкальский край"/>
				<xs:enumeration value="Ивановская область"/>
				<xs:enumeration value="Иркутская область"/>
				<xs:enumeration value="Кабардино-Балкарская Республика"/>
				<xs:enumeration value="Калининградская область"/>
				<xs:enumeration value="Калужская область"/>
				<xs:enumeration value="Камчатский край"/>
				<xs:enumeration value="Карачаево-Черкесская Республика"/>
				<xs:enumeration value="Кемеровская область"/>
				<xs:enumeration value="Кировская область"/>
				<xs:enumeration value="Костромская область"/>
				<xs:enumeration value="Краснодарский край"/>
				<xs:enumeration value="Красноярский край"/>
				<xs:enumeration value="Курганская область"/>
				<xs:enumeration value="Курская область"/>
				<xs:enumeration value="Ленинградская область"/>
				<xs:enumeration value="Липецкая область"/>
				<xs:enumeration value="Магаданская область"/>
				<xs:enumeration value="Московская область"/>
				<xs:enumeration value="Мурманская область"/>
				<xs:enumeration value="Ненецкий автономный округ"/>
				<xs:enumeration value="Нижегородская область"/>
				<xs:enumeration value="Новгородская область"/>
				<xs:enumeration value="Новосибирская область"/>
				<xs:enumeration value="Омская область"/>
				<xs:enumeration value="Оренбургская область"/>
				<xs:enumeration value="Орловская область"/>
				<xs:enumeration value="Пензенская область"/>
				<xs:enumeration value="Пермский край"/>
				<xs:enumeration value="Приморский край"/>
				<xs:enumeration value="Псковская область"/>
				<xs:enumeration value="Республика Адыгея"/>
				<xs:enumeration value="Республика Алтай"/>
				<xs:enumeration value="Республика Башкортостан"/>
				<xs:enumeration value="Республика Бурятия"/>
				<xs:enumeration value="Республика Дагестан"/>
				<xs:enumeration value="Республика Ингушетия"/>
				<xs:enumeration value="Республика Калмыкия"/>
				<xs:enumeration value="Республика Карелия"/>
				<xs:enumeration value="Республика Коми"/>
				<xs:enumeration value="Республика Марий Эл"/>
				<xs:enumeration value="Республика Мордовия"/>
				<xs:enumeration value="Республика Саха (Якутия)"/>
				<xs:enumeration value="Республика Северная Осетия -Алания"/>
				<xs:enumeration value="Республика Татарстан"/>
				<xs:enumeration value="Республика Тыва"/>
				<xs:enumeration value="Республика Хакасия"/>
				<xs:enumeration value="Ростовская область"/>
				<xs:enumeration value="Рязанская область"/>
				<xs:enumeration value="Самарская область"/>
				<xs:enumeration value="Саратовская область"/>
				<xs:enumeration value="Сахалинская область"/>
				<xs:enumeration value="Свердловская область"/>
				<xs:enumeration value="Смоленская область"/>
				<xs:enumeration value="Ставропольский край"/>
				<xs:enumeration value="Тамбовская область"/>
				<xs:enumeration value="Тверская область"/>
				<xs:enumeration value="Томская область"/>
				<xs:enumeration value="Тульская область"/>
				<xs:enumeration value="Тюменская область"/>
				<xs:enumeration value="Удмуртская Республика"/>
				<xs:enumeration value="Ульяновская область"/>
				<xs:enumeration value="Хабаровский край"/>
				<xs:enumeration value="Ханты-Мансийский автономный округ - Югра"/>
				<xs:enumeration value="Челябинская область"/>
				<xs:enumeration value="Чеченская Республика"/>
				<xs:enumeration value="Чувашская Республика"/>
				<xs:enumeration value="Чукотский автономный округ"/>
				<xs:enumeration value="Ямало-Ненецкий автономный округ"/>
				<xs:enumeration value="Ярославская область"/>
				<xs:enumeration value="г. Москва"/>
				<xs:enumeration value="г. Санкт-Петербург"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="bank">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Байкальский банк"/>
				<xs:enumeration value="Байкальский банк "/>
				<xs:enumeration value="Волго-Вятский банк"/>
				<xs:enumeration value="Восточно-Сибирский банк"/>
				<xs:enumeration value="Дальневосточный банк"/>
				<xs:enumeration value="Западно-Сибирский банк"/>
				<xs:enumeration value="Западно-Уральский банк"/>
				<xs:enumeration value="Московский банк"/>
				<xs:enumeration value="Поволжский банк"/>
				<xs:enumeration value="Северный банк"/>
				<xs:enumeration value="Северо-Восточный банк"/>
				<xs:enumeration value="Северо-Западный банк"/>
				<xs:enumeration value="Северо-Кавказский банк"/>
				<xs:enumeration value="Северо-Кавказский банк "/>
				<xs:enumeration value="Сибирский банк"/>
				<xs:enumeration value="Среднерусский банк"/>
				<xs:enumeration value="Уральский банк"/>
				<xs:enumeration value="Уральский банк "/>
				<xs:enumeration value="Центрально-Черноземный банк"/>
				<xs:enumeration value="Юго-Западный банк"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="excel-sheet">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="order" type="xs:float"/>
	<xs:simpleType name="evaluation" id="evaluation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="Отсутствует возможность"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
