Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F0503721/0503721formdata2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema targetNamespace="ru.krista.consolidation.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ReportTableRow-key">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportSubject-key">
		<xs:complexType>
			<xs:attribute name="uuid" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportFormSection-key">
		<xs:complexType>
			<xs:attribute name="code" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportForm-key">
		<xs:complexType>
			<xs:attribute name="uuid" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportCollectingPeriod-key">
		<xs:complexType>
			<xs:attribute name="uuid" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
