Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F0503121V3/F_0503121of201401011.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ru.krista.consolidation.model.report">
	<xs:import schemaLocation="F_0503121of20140101.xsd"/>
	<xs:element name="F_0503121of20140101S1Row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tableRow"/>
			</xs:sequence>
			<xs:attribute name="col6" type="xs:decimal"/>
			<xs:attribute name="col5" type="xs:decimal"/>
			<xs:attribute name="col3" type="xs:decimal"/>
			<xs:attribute name="col2" type="xs:string"/>
			<xs:attribute name="col1" type="xs:string" use="required"/>
			<xs:attribute name="col0" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503121of20140101S1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reportFormSection"/>
				<xs:element ref="rows"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503121of20140101HR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req10"/>
				<xs:element ref="req6"/>
				<xs:element ref="req9"/>
			</xs:sequence>
			<xs:attribute name="req8" type="xs:string" use="required"/>
			<xs:attribute name="req4" type="xs:string" use="required"/>
			<xs:attribute name="req3" type="xs:string" use="required"/>
			<xs:attribute name="req2" type="xs:string" use="required"/>
			<xs:attribute name="req11" type="xs:string" use="required"/>
			<xs:attribute name="req1" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503121of20140101FR">
		<xs:complexType>
			<xs:attribute name="req2" type="xs:string" use="required"/>
			<xs:attribute name="req1" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503121of20140101">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="collectingPeriod"/>
				<xs:element ref="docState"/>
				<xs:element ref="reportConsumer"/>
				<xs:element ref="reportForm"/>
				<xs:element ref="reportSubject"/>
				<xs:element ref="footerReqHolder"/>
				<xs:element ref="headerReqHolder"/>
				<xs:element ref="reportSections"/>
			</xs:sequence>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="updateTime" type="xs:string" use="required"/>
			<xs:attribute name="stateUpdateTime" type="xs:string" use="required"/>
			<xs:attribute name="formUpdateTime" type="xs:string" use="required"/>
			<xs:attribute name="endDate" type="xs:string" use="required"/>
			<xs:attribute name="deliveryYear" type="xs:string" use="required"/>
			<xs:attribute name="deliveryDate" type="xs:string" use="required"/>
			<xs:attribute name="caption" type="xs:string" use="required"/>
			<xs:attribute name="beginDate" type="xs:string" use="required"/>
			<xs:attribute name="attachments" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
