Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/tasks1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="ru.krista.consolidation.model" targetNamespace="ru.krista.consolidation.model">
	<xs:import schemaLocation="tasks.xsd"/>
	<xs:element name="ReportSubject-key">
		<xs:complexType>
			<xs:attribute name="uuid" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportPeriodPeriodic-key">
		<xs:complexType>
			<xs:attribute name="uuid" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportCollectingPeriod-key">
		<xs:complexType>
			<xs:attribute name="uuid" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportCollectingPeriod">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:choice>
						<xs:element ref="attachToTasks"/>
						<xs:element ref="attachedTasks"/>
					</xs:choice>
					<xs:element ref="author"/>
					<xs:element ref="previousTask" minOccurs="0" />
					<xs:element ref="reportPeriodAbstract"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="author"/>
					<xs:element ref="previousTask" minOccurs="0"/>
					<xs:element ref="reportPeriodAbstract"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="uuid" use="required" type="xs:string" />
			<xs:attribute name="deliveryDate" use="required" type="xs:string" />
			<xs:attribute name="createDate" use="required" type="xs:string" />
			<xs:attribute name="completeDate" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>
