Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/tasks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="ru.krista.consolidation.model">
	<xs:import namespace="ru.krista.consolidation.model" schemaLocation="tasks1.xsd"/>
	<xs:element name="reportPeriodAbstract">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportPeriodPeriodic-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="previousTask">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportCollectingPeriod-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportSubject-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attachedTasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportCollectingPeriod-key" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attachToTasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportCollectingPeriod-key" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Objects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportCollectingPeriod" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
