Projects/Common/bus.gov.ru/Service2016/appliedTypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="http://www.roskazna.ru/eb/domain/common/base" xmlns:cm="http://www.roskazna.ru/eb/domain/common" xmlns:eb="http://www.roskazna.ru/eb/domain/appinfo" xmlns:self="http://www.roskazna.ru/eb/domain/common/applied" targetNamespace="http://www.roskazna.ru/eb/domain/common/applied">
  <import namespace="http://www.roskazna.ru/eb/domain/common/base" schemaLocation="baseTypes.xsd"/>
  <import namespace="http://www.roskazna.ru/eb/domain/common" schemaLocation="common.xsd"/>
  <simpleType name="tCode">
    <restriction base="base:tMax1Number"/>
  </simpleType>
  <simpleType name="tInstitutionkindcode">
    <restriction base="base:tFix4Number"/>
  </simpleType>
  <simpleType name="tServicecriterionunitscode">
    <restriction base="base:tMax5Number"/>
  </simpleType>
  <simpleType name="tPaidcode">
    <restriction base="base:tMax1Number"/>
  </simpleType>
  <simpleType name="tBudgetlevelcode">
    <restriction base="base:tMax2Number"/>
  </simpleType>
  <simpleType name="tRuClsEcActsc">
    <restriction base="base:tMax127Text"/>
  </simpleType>
  <simpleType name="tFEACode">
    <restriction base="base:tMax3Number"/>
  </simpleType>
  <simpleType name="tServiceindicatorkindcode">
    <restriction base="base:tMax1Number"/>
  </simpleType>
  <simpleType name="tLAkindcode">
    <restriction base="base:tMax2Number"/>
  </simpleType>
  <simpleType name="tLAnumber">
    <restriction base="base:tMax127Text"/>
  </simpleType>
  <simpleType name="tActivitydomaincode">
    <restriction base="base:tFix2Number"/>
  </simpleType>
  <simpleType name="tRussianmeasurementunitsclassificationcode">
    <restriction base="base:tMax4Number"/>
  </simpleType>
  <simpleType name="tServicedepartmentalmeasurevaluecode">
    <restriction base="base:tMax3Number"/>
  </simpleType>
  <simpleType name="tServicedepartmentalmeasurecode">
    <restriction base="base:tMax3Number"/>
  </simpleType>
  <simpleType name="tConsumercategorycode">
    <restriction base="base:tFix4Number"/>
  </simpleType>
  <simpleType name="tServicenamecode">
    <restriction base="base:tFix8Number"/>
  </simpleType>
  <simpleType name="tTermsofservicecode">
    <restriction base="base:tFix3Number"/>
  </simpleType>
  <simpleType name="tcontentscode">
    <restriction base="base:tFix3Number"/>
  </simpleType>
  <simpleType name="tPubliclawentitykindcode">
    <restriction base="base:tMax3Number"/>
  </simpleType>
  <simpleType name="tServicecontentsvaluecode">
    <restriction base="base:tFix3Number"/>
  </simpleType>
  <simpleType name="tServicetermsvaluecode">
    <restriction base="base:tFix2Number"/>
  </simpleType>
  <simpleType name="tVolumeindicatorcode">
    <restriction base="base:tFix3Number"/>
  </simpleType>
  <simpleType name="tQltyIndCode">
    <restriction base="base:tFix3Number"/>
  </simpleType>
  <simpleType name="tRuClsPrEcAcsCode">
    <restriction base="base:tMax127Text"/>
  </simpleType>
  <simpleType name="tServicenumber">
    <restriction base="base:tMax3Number"/>
  </simpleType>
  <simpleType name="tOutgoCode">
    <restriction base="base:tMax3Number"/>
  </simpleType>
  <simpleType name="tUsgGrpsCode">
    <restriction base="base:tMax127Text"/>
  </simpleType>
  <simpleType name="tTypeIncreaseTest">
    <restriction base="base:tMax4Number"/>
  </simpleType>
  <simpleType name="tInstitutioncode">
    <restriction base="base:tMax8Number"/>
  </simpleType>
  <simpleType name="tLineNumber">
    <restriction base="base:tMax1Text"/>
  </simpleType>
  <simpleType name="tServicecontentspubliccode">
    <restriction base="base:tMax11Number"/>
  </simpleType>
  <simpleType name="tServicetermspubliccode">
    <restriction base="base:tMax11Number"/>
  </simpleType>
  <simpleType name="tServicecontentsvaluepubliccode">
    <restriction base="base:tMax7Number"/>
  </simpleType>
  <simpleType name="tServicetermsvaluepubliccode">
    <restriction base="base:tMax7Number"/>
  </simpleType>
  <simpleType name="tChngReqDcsnNumber">
    <restriction base="base:tMax12Text"/>
  </simpleType>
  <simpleType name="tChngReqNumber">
    <restriction base="base:tMax12Text"/>
  </simpleType>
  <simpleType name="tOKTMOCode">
    <restriction base="base:tMax11Number"/>
  </simpleType>
  <simpleType name="tinn">
    <restriction base="base:tFix10Number"/>
  </simpleType>
  <simpleType name="tkpp">
    <restriction base="base:tFix9Number"/>
  </simpleType>
  <simpleType name="togrn">
    <restriction base="base:tFix13Number"/>
  </simpleType>
  <simpleType name="torgcode">
    <restriction base="base:tFix20Number"/>
  </simpleType>
  <simpleType name="tokopf">
    <restriction base="base:tFix5Number"/>
  </simpleType>
  <simpleType name="toktmo">
    <restriction base="base:tMax11Number"/>
  </simpleType>
  <simpleType name="tfocode">
    <restriction base="base:tFix20Number"/>
  </simpleType>
  <simpleType name="tRegrNumberVPGU45">
    <restriction base="base:tFix45Number"/>
  </simpleType>
  <simpleType name="tRegrNumberVPGU42">
    <restriction base="base:tFix42Number"/>
  </simpleType>
  <simpleType name="tInstCode19">
    <restriction base="base:tMax19Number"/>
  </simpleType>
  <simpleType name="tRegrNumberEPGU23">
    <restriction base="base:tFix23Number"/>
  </simpleType>
  <simpleType name="tProjVersion">
    <restriction base="base:tFix2Number"/>
  </simpleType>
  <simpleType name="tDateType">
    <restriction base="base:tTDate"/>
  </simpleType>
  <simpleType name="tDateTime">
    <restriction base="base:tDateTime"/>
  </simpleType>
  <simpleType name="tYearType">
    <restriction base="base:tMax4Number"/>
  </simpleType>
  <simpleType name="tName127">
    <restriction base="base:tMax127Text"/>
  </simpleType>
  <simpleType name="tName2000">
    <restriction base="base:tMax2000Text"/>
  </simpleType>
  <simpleType name="tSvcChngLstKnd">
    <restriction base="base:tMax3Text"/>
  </simpleType>
  <simpleType name="tName8000">
    <restriction base="base:tMax8000Text"/>
  </simpleType>
  <simpleType name="tText1M">
    <restriction base="base:tText1M"/>
  </simpleType>
  <simpleType name="tText100M">
    <restriction base="base:tText100M"/>
  </simpleType>
  <simpleType name="tText1_2000">
    <restriction base="base:tText1_2000"/>
  </simpleType>
  <simpleType name="tText1_127">
    <restriction base="base:tText1_127"/>
  </simpleType>
  <simpleType name="tText1_12">
    <restriction base="base:tMax12Text"/>
  </simpleType>
  <simpleType name="tText1_8">
    <restriction base="base:tText1_8"/>
  </simpleType>
  <simpleType name="tLogical">
    <restriction base="base:tLogical"/>
  </simpleType>
  <simpleType name="tVersionType">
    <restriction base="base:tIntgr"/>
  </simpleType>
  <simpleType name="tmatching_state">
    <restriction base="string">
      <enumeration value="Решение не сформировано">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>notFormed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Требует согласования">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>requiresAgreement</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Направлен на согласование">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>sentForAgreement</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Не требует согласования">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>notRequiresAgreement</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Согласован">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>agreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Не согласован">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>disagreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="tValidValuesDecision">
    <restriction base="string">
      <enumeration value="Согласовать">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>accept</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Отклонить">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>reject</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Не принято">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>notFormed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="tPosNegDecision">
    <restriction base="string">
      <enumeration value="Положительное решение">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>accept</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Отрицательное решение">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>reject</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="tAgreementState">
    <restriction base="string">
      <enumeration value="На согласовании">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>sentForAgreement</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Согласовано">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>agreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Отклонено">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>disagreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="tApprovementState">
    <restriction base="string">
      <enumeration value="На утверждении">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>sentForAgreement</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Утверждено">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>agreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Отклонено">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>disagreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="tFEAConsiderationState">
    <restriction base="string">
      <enumeration value="На рассмотрении в ответственном ФОИВ">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>sentForAgreement</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Принято к рассмотрению">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>sentToExternalOrg</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Положительное решение">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>agreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Отрицательное решение">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>disagreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="tFOConsiderationState">
    <restriction base="string">
      <enumeration value="На рассмотрении в ФО">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>sentForAgreement</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Положительное решение">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>agreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Отрицательное решение">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>disagreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="tMFConsiderationState">
    <restriction base="string">
      <enumeration value="На рассмотрении в Минфине России">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>sentForAgreement</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Положительное решение">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>agreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Отрицательное решение">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>disagreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="tAnnulmentState">
    <restriction base="string">
      <enumeration value="На аннулировании">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>sentForAgreement</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Утверждено">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>agreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Доработать">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>disagreed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="tChangeListKind">
    <restriction base="string">
      <enumeration value="Основной документ">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>all</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Внесение изменений">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>inc</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="tOperationIndicator">
    <restriction base="string">
      <enumeration value="NoChange">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>NoChange</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Changed">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>Changed</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Deleted">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>Deleted</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Added">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>Added</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="tCommonSign">
    <restriction base="string">
      <enumeration value="Устаревший">
        <annotation>
          <appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
            <eb:ID>outdated</eb:ID>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="tGID">
    <restriction base="base:tMax127Text"/>
  </simpleType>
</schema>
