Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F0503127V2016/F_0503127of201601011.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="ru.krista.consolidation.model.report" targetNamespace="ru.krista.consolidation.model.report">
	<xs:import schemaLocation="F_0503127of20160101.xsd"/>
	<xs:element name="F_0503127of20160101S3Row">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="col3"/>
				<xs:element ref="col4"/>
			</xs:sequence>
			<xs:attribute name="tableRowName" type="xs:string" use="required"/>
			<xs:attribute name="tableRowId" type="xs:string" use="required"/>
			<xs:attribute name="col7" type="xs:decimal"/>
			<xs:attribute name="col11" type="xs:decimal"/>
			<xs:attribute name="col10" type="xs:decimal"/>
			<xs:attribute name="col1" type="xs:string" use="required"/>
			<xs:attribute name="col0" type="xs:string"/>
			<xs:attribute name="col5" type="xs:decimal"/>
			<xs:attribute name="col8" type="xs:decimal"/>
			<xs:attribute name="col9" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127of20160101S3">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rows"/>
			</xs:sequence>
			<xs:attribute name="reportFormSectionId" type="xs:string" use="required"/>
			<xs:attribute name="checkData" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127of20160101S2Row">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="col3"/>
				<xs:element ref="col4"/>
				<xs:element ref="col5"/>
				<xs:element ref="col6"/>
			</xs:sequence>
			<xs:attribute name="tableRowName" type="xs:string" use="required"/>
			<xs:attribute name="tableRowId" type="xs:string" use="required"/>
			<xs:attribute name="isTotal" type="xs:string"/>
			<xs:attribute name="col9" type="xs:decimal"/>
			<xs:attribute name="col8" type="xs:decimal"/>
			<xs:attribute name="col17" type="xs:decimal"/>
			<xs:attribute name="col16" type="xs:decimal"/>
			<xs:attribute name="col14" type="xs:decimal"/>
			<xs:attribute name="col11" type="xs:decimal"/>
			<xs:attribute name="col1" type="xs:string" use="required"/>
			<xs:attribute name="col0" type="xs:string" use="required"/>
			<xs:attribute name="col12" type="xs:decimal"/>
			<xs:attribute name="col13" type="xs:decimal"/>
      <xs:attribute name="col7" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127of20160101S2">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rows"/>
			</xs:sequence>
			<xs:attribute name="reportFormSectionId" type="xs:string" use="required"/>
			<xs:attribute name="checkData" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127of20160101S1Row">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="col3"/>
				<xs:element ref="col4"/>
			</xs:sequence>
			<xs:attribute name="tableRowName" type="xs:string"/>
			<xs:attribute name="tableRowId" type="xs:string" use="required"/>
			<xs:attribute name="isTotal" type="xs:string"/>
			<xs:attribute name="isTechnical" type="xs:string"/>
			<xs:attribute name="col11" type="xs:decimal"/>
			<xs:attribute name="col1" type="xs:string" use="required"/>
			<xs:attribute name="col0" type="xs:string"/>
			<xs:attribute name="col5" type="xs:decimal"/>
			<xs:attribute name="col7" type="xs:decimal"/>
			<xs:attribute name="col8" type="xs:decimal"/>
			<xs:attribute name="col9" type="xs:decimal"/>
			<xs:attribute name="col10" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127of20160101S1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rows"/>
			</xs:sequence>
			<xs:attribute name="reportFormSectionId" type="xs:string" use="required"/>
			<xs:attribute name="checkData" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127of20160101HR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req10"/>
				<xs:element ref="req5"/>
				<xs:element ref="req6"/>
				<xs:element ref="req7"/>
				<xs:element ref="req9"/>
			</xs:sequence>
			<xs:attribute name="req8" type="xs:string" use="required"/>
			<xs:attribute name="req4" type="xs:string" use="required"/>
			<xs:attribute name="req3" type="xs:string" use="required"/>
			<xs:attribute name="req2" type="xs:string" use="required"/>
			<xs:attribute name="req11" type="xs:string" use="required"/>
			<xs:attribute name="req1" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127of20160101FR">
		<xs:complexType>
			<xs:attribute name="req3" type="xs:string" use="required"/>
			<xs:attribute name="req1" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127of20160101">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="collectingPeriod"/>
				<xs:element ref="docState"/>
				<xs:element ref="reportConsumer"/>
				<xs:element ref="reportForm"/>
				<xs:element ref="reportSubject"/>
				<xs:element ref="reportSubjectOffice"/>
				<xs:element ref="footerReqHolder"/>
				<xs:element ref="headerReqHolder"/>
				<xs:element ref="reportSections"/>
			</xs:sequence>
			<xs:attribute name="warningCount" type="xs:string" use="required"/>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="updateTime" type="xs:string" use="required"/>
			<xs:attribute name="stateUpdateTime" type="xs:string" use="required"/>
			<xs:attribute name="signStatus" type="xs:string" use="required"/>
			<xs:attribute name="signCount" type="xs:string" use="required"/>
			<xs:attribute name="signCheckDate" type="xs:string" use="required"/>
			<xs:attribute name="requiredSignCount" type="xs:string" use="required"/>
			<xs:attribute name="reportFormName" type="xs:string" use="required"/>
			<xs:attribute name="reportFormId" type="xs:string" use="required"/>
			<xs:attribute name="reportFormCode" type="xs:string" use="required"/>
			<xs:attribute name="reportFormClassName" type="xs:string" use="required"/>
			<xs:attribute name="isEmpty" type="xs:string" use="required"/>
			<xs:attribute name="freeSignCount" type="xs:string" use="required"/>
			<xs:attribute name="formUpdateTime" type="xs:string" use="required"/>
			<xs:attribute name="fillingSourceNote" type="xs:string" use="required"/>
			<xs:attribute name="fillingSource" type="xs:string" use="required"/>
			<xs:attribute name="evalDate" type="xs:string" use="required"/>
			<xs:attribute name="errorCount" type="xs:string" use="required"/>
			<xs:attribute name="endDate" type="xs:string" use="required"/>
			<xs:attribute name="deliveryYear" type="xs:string" use="required"/>
			<xs:attribute name="deliveryDate" type="xs:string" use="required"/>
			<xs:attribute name="checkDate" type="xs:string" use="required"/>
			<xs:attribute name="caption" type="xs:string" use="required"/>
			<xs:attribute name="beginDate" type="xs:string" use="required"/>
			<xs:attribute name="attachments" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
