Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F05037374/F_0503737_4of011220121.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ru.krista.consolidation.model.report">
	<xs:import schemaLocation="F_0503737_4of01122012.xsd"/>
	<xs:element name="F_0503737_4of01122012S3Row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tableRow"/>
			</xs:sequence>
			<xs:attribute name="col9" type="xs:decimal"/>
			<xs:attribute name="col8" type="xs:decimal"/>
			<xs:attribute name="col7" type="xs:decimal"/>
			<xs:attribute name="col6" type="xs:decimal"/>
			<xs:attribute name="col5" type="xs:decimal"/>
			<xs:attribute name="col3" type="xs:decimal"/>
			<xs:attribute name="col2" type="xs:string"/>
			<xs:attribute name="col10" type="xs:decimal"/>
			<xs:attribute name="col1" type="xs:string" use="required"/>
			<xs:attribute name="col0" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503737_4of01122012S3">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reportFormSection"/>
				<xs:element ref="rows"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503737_4of01122012S2Row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tableRow"/>
			</xs:sequence>
			<xs:attribute name="col9" type="xs:decimal"/>
			<xs:attribute name="col8" type="xs:decimal"/>
			<xs:attribute name="col7" type="xs:decimal"/>
			<xs:attribute name="col6" type="xs:decimal"/>
			<xs:attribute name="col5" type="xs:decimal"/>
			<xs:attribute name="col3" type="xs:decimal"/>
			<xs:attribute name="col2" type="xs:string"/>
			<xs:attribute name="col10" type="xs:decimal"/>
			<xs:attribute name="col1" type="xs:string" use="required"/>
			<xs:attribute name="col0" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503737_4of01122012S2">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reportFormSection"/>
				<xs:element ref="rows"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503737_4of01122012S1Row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tableRow"/>
			</xs:sequence>
			<xs:attribute name="col9" type="xs:decimal"/>
			<xs:attribute name="col8" type="xs:decimal"/>
			<xs:attribute name="col7" type="xs:decimal"/>
			<xs:attribute name="col6" type="xs:decimal"/>
			<xs:attribute name="col5" type="xs:decimal"/>
			<xs:attribute name="col3" type="xs:decimal"/>
			<xs:attribute name="col2" type="xs:string"/>
			<xs:attribute name="col10" type="xs:decimal"/>
			<xs:attribute name="col1" type="xs:string" use="required"/>
			<xs:attribute name="col0" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503737_4of01122012S1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reportFormSection"/>
				<xs:element ref="rows"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503737_4of01122012HR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req13"/>
				<xs:element ref="req7"/>
			</xs:sequence>
			<xs:attribute name="req9" type="xs:string"/>
			<xs:attribute name="req6" type="xs:string"/>
			<xs:attribute name="req3" type="xs:string"/>
			<xs:attribute name="req2" type="xs:string"/>
			<xs:attribute name="req12" type="xs:string"/>
			<xs:attribute name="req11" type="xs:string"/>
			<xs:attribute name="req1" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503737_4of01122012">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="collectingPeriod"/>
				<xs:element ref="docState"/>
				<xs:element ref="reportConsumer"/>
				<xs:element ref="reportForm"/>
				<xs:element ref="reportSubject"/>
				<xs:element ref="headerReqHolder"/>
				<xs:element ref="reportSections"/>
			</xs:sequence>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="updateTime" type="xs:string" use="required"/>
			<xs:attribute name="lastProtocol" type="xs:string" use="required"/>
			<xs:attribute name="formUpdateTime" type="xs:string" use="required"/>
			<xs:attribute name="endDate" type="xs:string" use="required"/>
			<xs:attribute name="deliveryYear" type="xs:short" use="required"/>
			<xs:attribute name="deliveryDate" type="xs:string" use="required"/>
			<xs:attribute name="caption" use="required" type="xs:string"/>
			<xs:attribute name="beginDate" type="xs:string" use="required"/>
			<xs:attribute name="attachments" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
