Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F05037376V2016/F_0503737_6of201601012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="ru.krista.budget.model" targetNamespace="ru.krista.budget.model">
	<xs:import schemaLocation="F_0503737_6of20160101.xsd"/>
	<xs:element name="Personage-key">
		<xs:complexType>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Office-key">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ato"/>
			</xs:sequence>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="inn" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Employee-key">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="person"/>
				<xs:element ref="personage"/>
			</xs:sequence>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="rank" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClsOKTMO-key">
		<xs:complexType>
			<xs:attribute name="clsId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClsOKEI-key">
		<xs:complexType>
			<xs:attribute name="clsId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClsGRBS-key">
		<xs:complexType>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="clsId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ATO-key">
		<xs:complexType>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
