Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F0503730of2012/0503730of2012part3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ru.krista.budget.model">
	<xs:import schemaLocation="0503730of2012.xsd"/>
	<xs:element name="Office-key">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ato"/>
			</xs:sequence>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClsOKEI-key">
		<xs:complexType>
			<xs:attribute name="clsId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClsOKATO-key">
		<xs:complexType>
			<xs:attribute name="clsId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClsGRBS-key">
		<xs:complexType>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="clsId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ATO-key">
		<xs:complexType>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
