Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/Subjects/Subjects1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="ru.krista.consolidation.model" targetNamespace="ru.krista.consolidation.model">
	<xs:import schemaLocation="Subjects.xsd"/>
	<xs:element name="ReportSubjectRole-key">
		<xs:complexType>
			<xs:attribute name="code" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportSubject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="person"/>
				<xs:element ref="reportLevel"/>
				<xs:element ref="servicePerson" minOccurs="0"/>
				<xs:element ref="subjectRole"/>
			</xs:sequence>
			<xs:attribute name="uuid" use="required" type="xs:string" />
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportLevel-key">
		<xs:complexType>
			<xs:attribute name="code" use="required"  type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>
