Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/Subjects/Subjects2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="ru.krista.budget.model" targetNamespace="ru.krista.budget.model">
	<xs:import schemaLocation="Subjects.xsd"/>
	<xs:element name="Office-key">
		<xs:complexType>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Office">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="budget"/>
					<xs:element ref="chief"/>
					<xs:element ref="patternOfOwnership"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="ato"/>
					<xs:element ref="budget"/>
					<xs:choice minOccurs="0">
						<xs:sequence>
							<xs:element ref="grbs" minOccurs="0"/>
							<xs:element ref="patternOfOwnership"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="chiefAccountant"/>
							<xs:choice minOccurs="0">
								<xs:element ref="patternOfOwnership"/>
								<xs:sequence>
									<xs:element ref="grbs"/>
									<xs:element ref="patternOfOwnership" minOccurs="0"/>
								</xs:sequence>
							</xs:choice>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="chief"/>
							<xs:choice minOccurs="0">
								<xs:element ref="patternOfOwnership"/>
								<xs:sequence>
									<xs:element ref="grbs"/>
									<xs:element ref="patternOfOwnership" minOccurs="0"/>
								</xs:sequence>
								<xs:sequence>
									<xs:element ref="chiefAccountant"/>
									<xs:choice minOccurs="0">
										<xs:element ref="patternOfOwnership"/>
										<xs:sequence>
											<xs:element ref="grbs"/>
											<xs:element ref="patternOfOwnership" minOccurs="0"/>
										</xs:sequence>
									</xs:choice>
								</xs:sequence>
							</xs:choice>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="rbps" type="xs:short"/>
			<xs:attribute name="okpo" type="xs:int"/>
			<xs:attribute name="ogrn" type="xs:long"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="mailingAddress" type="xs:string"/>
			<xs:attribute name="locationAddress" type="xs:string"/>
			<xs:attribute name="kpp" type="xs:string"/>
			<xs:attribute name="inn" type="xs:string"/>
			<xs:attribute name="fullName" type="xs:string" use="required"/>
			<xs:attribute name="caption" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Employee-key">
		<xs:complexType>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClsOKFS-key">
		<xs:complexType>
			<xs:attribute name="clsId" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClsGRBS-key">
		<xs:complexType>
			<xs:attribute name="clsId" type="xs:short" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Budget-key">
		<xs:complexType>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ATO-key">
		<xs:complexType>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
