Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/Subjects/Subjects.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bud="ru.krista.budget.model" xmlns:cons="ru.krista.consolidation.model">
	<xs:import namespace="ru.krista.consolidation.model" schemaLocation="Subjects1.xsd"/>
	<xs:import namespace="ru.krista.budget.model" schemaLocation="Subjects2.xsd"/>
	<xs:element name="subjectRole">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportSubjectRole-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="servicePerson">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Office-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportLevel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportLevel-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Office-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="patternOfOwnership">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsOKFS-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="grbs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsGRBS-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="chiefAccountant">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Employee-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="chief">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Employee-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="budget">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:Budget-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ato">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ATO-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Objects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportSubject" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bud:Office" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
