Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F0503127/0503127FormData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bud="ru.krista.budget.model" xmlns:cons="ru.krista.consolidation.model" xmlns:report="ru.krista.consolidation.model.report" xmlns:docstate="ru.krista.core.docstate.model.meta" xmlns:ns1="ru.krista.jpa.types">
	<xs:import namespace="ru.krista.jpa.types" schemaLocation="0503127FormData5.xsd"/>
	<xs:import namespace="ru.krista.core.docstate.model.meta" schemaLocation="0503127FormData4.xsd"/>
	<xs:import namespace="ru.krista.consolidation.model.report" schemaLocation="0503127FormData1.xsd"/>
	<xs:import namespace="ru.krista.consolidation.model" schemaLocation="0503127FormData2.xsd"/>
	<xs:import namespace="ru.krista.budget.model" schemaLocation="0503127FormData3.xsd"/>
	<xs:element name="tableRow">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportTableRow-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="scheme">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="docstate:StatesScheme-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rows">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="report:F_0503127_Qof01022011S1Row" maxOccurs="unbounded"/>
				<xs:element ref="report:F_0503127_Qof01022011S2Row" maxOccurs="unbounded"/>
				<xs:element ref="report:F_0503127_Qof01022011S3Row" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportSubject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportSubject-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportSections">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="report:F_0503127_Qof01022011S1"/>
				<xs:element ref="report:F_0503127_Qof01022011S2"/>
				<xs:element ref="report:F_0503127_Qof01022011S3"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportFormSection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportFormSection-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportForm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportForm-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportConsumer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportSubject-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="gruppaIstochnikov">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsGruppaIstochnikov-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="docState">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="docstate:State-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="collectingPeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cons:ReportCollectingPeriod-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="col7">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsOSGU-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="col6">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsVR-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="col5">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsCSR-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="col4">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="bud:ClsDohody-key"/>
				<xs:element ref="bud:ClsIstochniky-key"/>
				<xs:element ref="bud:ClsRAZDLPODRAZDL-key"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="col3">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bud:ClsGRBS-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attachments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:Attachments-key"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Objects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="report:F_0503127_Qof01022011"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
