Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F0503127/0503127FormData1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ru.krista.consolidation.model.report">
	<xs:import schemaLocation="0503127FormData.xsd"/>
	<xs:element name="F_0503127_Qof01022011S3Row">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence minOccurs="0">
					<xs:element ref="col3"/>
					<xs:element ref="col4"/>
				</xs:sequence>
				<xs:element ref="tableRow"/>
			</xs:sequence>
			<xs:attribute name="col9" type="xs:decimal"/>
			<xs:attribute name="col8" type="xs:decimal"/>
			<xs:attribute name="col7" type="xs:decimal"/>
			<xs:attribute name="col5" type="xs:decimal"/>
			<xs:attribute name="col11" type="xs:decimal"/>
			<xs:attribute name="col10" type="xs:decimal"/>
			<xs:attribute name="col1" type="xs:string" use="required"/>
			<xs:attribute name="col0" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127_Qof01022011S3">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reportFormSection"/>
				<xs:element ref="rows"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127_Qof01022011S2Row">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence minOccurs="0">
					<xs:element ref="col3"/>
					<xs:element ref="col4"/>
					<xs:element ref="col5"/>
					<xs:element ref="col6"/>
					<xs:element ref="col7"/>
				</xs:sequence>
				<xs:element ref="tableRow"/>
			</xs:sequence>
			<xs:attribute name="isTotal" type="xs:boolean"/>
			<xs:attribute name="col9" type="xs:decimal"/>
			<xs:attribute name="col8" type="xs:decimal"/>
			<xs:attribute name="col17" type="xs:decimal"/>
			<xs:attribute name="col16" type="xs:decimal"/>
			<xs:attribute name="col14" type="xs:decimal"/>
			<xs:attribute name="col13" type="xs:decimal"/>
			<xs:attribute name="col12" type="xs:decimal"/>
			<xs:attribute name="col11" type="xs:decimal"/>
			<xs:attribute name="col1" type="xs:string" use="required"/>
			<xs:attribute name="col0" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127_Qof01022011S2">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reportFormSection"/>
				<xs:element ref="rows"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127_Qof01022011S1Row">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence minOccurs="0">
					<xs:element ref="col3"/>
					<xs:element ref="col4"/>
				</xs:sequence>
				<xs:element ref="tableRow"/>
			</xs:sequence>
			<xs:attribute name="col9" type="xs:decimal"/>
			<xs:attribute name="col8" type="xs:decimal"/>
			<xs:attribute name="col7" type="xs:decimal"/>
			<xs:attribute name="col5" type="xs:decimal"/>
			<xs:attribute name="col11" type="xs:decimal"/>
			<xs:attribute name="col10" type="xs:decimal"/>
			<xs:attribute name="col1" use="required" type="xs:string" />
			<xs:attribute name="col0" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127_Qof01022011S1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reportFormSection"/>
				<xs:element ref="rows"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_0503127_Qof01022011">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attachments"/>
				<xs:element ref="collectingPeriod"/>
				<xs:element ref="docState"/>
				<xs:element ref="reportConsumer"/>
				<xs:element ref="reportForm"/>
				<xs:element ref="reportSubject"/>
				<xs:element ref="reportSections"/>
			</xs:sequence>
			<xs:attribute name="uuid" type="xs:string" use="required"/>
			<xs:attribute name="updateTime" type="xs:string" use="required"/>
			<xs:attribute name="lastProtocol" type="xs:string" use="required"/>
			<xs:attribute name="formUpdateTime" type="xs:string" use="required"/>
			<xs:attribute name="endDate" type="xs:string" use="required"/>
			<xs:attribute name="deliveryYear" type="xs:short" use="required"/>
			<xs:attribute name="deliveryDate" type="xs:string" use="required"/>
			<xs:attribute name="caption" use="required" type="xs:string"/>
			<xs:attribute name="beginDate" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
