Projects/Web.RIA/app/Krista.FM.RIA.Extensions.E86N/Services/Pump/PumpWebCons/F05037377/F_0503737_7of011220123.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema targetNamespace="ru.krista.budget.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ClsOKEI-key">
		<xs:complexType>
			<xs:attribute name="clsId" use="required" type="xs:short"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClsOKATO-key">
		<xs:complexType>
			<xs:attribute name="clsId" use="required" type="xs:int"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
